
.navbar{
  text-align: center;
  padding: 20px;
  background-color: rgb(236, 223, 206);
}

h1{
  text-align: left;
  color: rgb(60, 201, 170);
  background-color: rgb(11, 31, 25);
};

div{
  margin-top: 20px;
  background-color: rgb(253, 255, 254);
};

li{
  right: 50%;
  text-align: center;
};
